---
title: Home
layout: default
---

<div id="home">
  <div class="intro">
    <h1>Simple &amp; sustainable software development</h1>

    <p class='intro-description'>Monoso is a boutique development
    and design firm specializing in building web applications and
    websites.</p>
  </div>

  <div class='section featured-projects'>
    <h2>Featured Projects<h2>

    <ul class='list-grid'>
      {% for project in site.projects reversed %}
        {% if project.tags contains 'featured' %}
          {% include project-list-item.html %}
        {% endif %}
      {% endfor %}
    </ul>

    <p class='small'><a href='/projects'>All Projects</a></p>
  </div>

  <div class='section featured-services'>
    <h2>Featured Services<h2>

    <ul class='list-grid'>
      {% for service in site.services reversed %}
        {% if service.tags contains 'featured' %}
          {% include service-list-item.html %}
        {% endif %}
      {% endfor %}
    </ul>

    <p class='small'><a href='/projects'>All Services</a></p>
  </div>

  <div class='section blog-posts'>
    <h2>Latest Blog Posts</h2>

    <ul class='posts-list'>
      {% for post in site.posts limit: 3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a> / <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>

    <p class='small'><a href='/blog'>All Posts</a></p>
  </div>

  <div class='section cta'>
    <a href='/hire' class='btn'>Hire Monoso</a>
  </div>
</div>
