---
title: Projects
permalink: "/projects"
description: Technical projects I've worked on throughout the years. A mix of personal and professional.
layout: default
---

<div id="projects">
  <h1>{{ page.title }}</h1>

  <p>{{ page.description }}</p>

  <h2>Featured Projects</h2>

  <ul class='list-grid'>
    {% for project in site.projects reversed %}
      {% if project.tags contains 'featured' %}
        {% include project-list-item.html %}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>All Projects</h2>

  <ul class='list-grid'>
    {% for project in site.projects reversed %}
      {% unless project.tags contains 'featured' or project.tags contains 'archived' %}
        {% include project-list-item.html %}
      {% endunless %}
    {% endfor %}
  </ul>
</div>
