<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="shortcut icon" href="/favicon.png" />

    {% feed_meta %}

    {% seo %}
  </head>

  <body>
    <div class="container page">
      {% include header.html %}

      <div class="content wrapper">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>

    {% include analytics.html %}
  </body>
</html>
